<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/list-style.css}" rel="stylesheet"/>
    <title>Lista Studentów</title>
</head>

<body>
<div class="root">
    <h1>Lista Studentów</h1>
    <p>
        <a th:href="@{/projektList}">Lista Projektów</a>
        <a th:href="@{/zadanieList}">Lista Zadań</a>
    </p>
    <p>
        <a th:href="@{/studentEdit}">Dodaj Studenta</a>
    </p>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Nr Indeksu</th>
            <th>Email</th>
            <th>Stacjonarny</th>
            <th>Projekty</th> <!-- Dodana kolumna dla projektów -->
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${studenci}">
            <td th:text="${student.studentId}">Id</td>
            <td th:text="${student.imie}">Imię</td>
            <td th:text="${student.nazwisko}">Nazwisko</td>
            <td th:text="${student.nrIndeksu}">Nr Indeksu</td>
            <td th:text="${student.email}">Email</td>
            <td th:text="${student.stacjonarny} ? 'Tak' : 'Nie'">Stacjonarny</td>
            <td>
                <ul> <!-- Używamy listy (ul) do wyświetlenia projektów -->
                    <li th:each="projekt : ${student.projekty}" th:text="${projekt.nazwa}"></li>
                </ul>
            </td>
            <td>
                <a th:href="@{/studentEdit(studentId=${student.studentId})}">Edytuj</a><br>
                <a th:href="@{/studentEdit(studentId=${student.studentId},delete='true')}">Usuń</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>
